.icon-add{background:url('icons/edit_add.png') no-repeat center center;}
.icon-edit{background:url('icons/pencil.png') no-repeat center center;}
.icon-remove{background:url('icons/edit_remove.png') no-repeat center center;}
.icon-save{background:url('icons/filesave.png') no-repeat center center;}
.icon-cut{background:url('icons/cut.png') no-repeat center center;}
.icon-ok{background:url('icons/ok.png') no-repeat center center;}
.icon-no{background:url('icons/no.png') no-repeat center center;}
.icon-cancel{background:url('icons/cancel.png') no-repeat center center;}
.icon-reload{background:url('icons/reload.png') no-repeat center center;}
.icon-search{background:url('icons/search.png') no-repeat center center;}
.icon-print{background:url('icons/print.png') no-repeat center center;}
.icon-help{background:url('icons/help.png') no-repeat center center;}
.icon-undo{background:url('icons/undo.png') no-repeat center center;}
.icon-redo{background:url('icons/redo.png') no-repeat center center;}
.icon-back{background:url('icons/back.png') no-repeat center center;}
.icon-sum{background:url('icons/sum.png') no-repeat center center;}
.icon-blank{background:url('icons/blank.gif') no-repeat center center;}
.icon-tip{background:url('icons/tip.png') no-repeat center center;}
.icon-mini-add{background:url('icons/mini_add.png') no-repeat center center;}
.icon-mini-edit{background:url('icons/mini_edit.png') no-repeat center center;}
.icon-mini-refresh{background:url('icons/mini_refresh.png') no-repeat center center;}

.icon-add1{background:url('icons/edit_add1.png') no-repeat center center;}
.icon-edit1{background:url('icons/pencil1.png') no-repeat center center;}
.icon-remove1{background:url('icons/edit_remove1.png') no-repeat center center;}
.icon-save1{background:url('icons/filesave1.png') no-repeat center center;}
.icon-cut1{background:url('icons/cut1.png') no-repeat center center;}
.icon-ok1{background:url('icons/ok1.png') no-repeat center center;}
.icon-no1{background:url('icons/no1.png') no-repeat center center;}
.icon-cancel1{background:url('icons/cancel1.png') no-repeat center center;}
.icon-reload1{background:url('icons/reload1.png') no-repeat center center;}
.icon-search1{background:url('icons/search1.png') no-repeat center center;}
.icon-print1{background:url('icons/print1.png') no-repeat center center;}
.icon-help1{background:url('icons/help1.png') no-repeat center center;}
.icon-undo1{background:url('icons/undo1.png') no-repeat center center;}
.icon-redo1{background:url('icons/redo1.png') no-repeat center center;}
.icon-back1{background:url('icons/back1.png') no-repeat center center;}
.icon-sum1{background:url('icons/sum1.png') no-repeat center center;}
.icon-blank1{background:url('icons/blank1.gif') no-repeat center center;}
.icon-tip1{background:url('icons/tip1.png') no-repeat center center;}
.icon-mini-add1{background:url('icons/mini_add1.png') no-repeat center center;}
.icon-mini-edit1{background:url('icons/mini_edit1.png') no-repeat center center;}
.icon-mini-refresh1{background:url('icons/mini_refresh1.png') no-repeat center center;}

.bcd_01{background:url('icons/bcd_01.png') no-repeat center center;}
.bcd_02{background:url('icons/bcd_02.png') no-repeat center center;}
.bcd_03{background:url('icons/bcd_03.png') no-repeat center center;}
.bcd_04{background:url('icons/bcd_04.png') no-repeat center center;}
.bcd_05{background:url('icons/bcd_05.png') no-repeat center center;}
.bcd_06{background:url('icons/bcd_06.png') no-repeat center center;}
.bcd_07{background:url('icons/bcd_07.png') no-repeat center center;}
.bcd_08{background:url('icons/bcd_08.png') no-repeat center center;}
.bcd_09{background:url('icons/bcd_09.png') no-repeat center center;}
.bcd_10{background:url('icons/bcd_10.png') no-repeat center center;}

.bcd_11{background:url('icons/bcd_11.png') no-repeat center center;}
.bcd_12{background:url('icons/bcd_12.png') no-repeat center center;}
.bcd_13{background:url('icons/bcd_13.png') no-repeat center center;}
.bcd_14{background:url('icons/bcd_14.png') no-repeat center center;}
.bcd_15{background:url('icons/bcd_15.png') no-repeat center center;}
.bcd_16{background:url('icons/bcd_16.png') no-repeat center center;}
.bcd_17{background:url('icons/bcd_17.png') no-repeat center center;}
.bcd_18{background:url('icons/bcd_18.png') no-repeat center center;}
.bcd_19{background:url('icons/bcd_19.png') no-repeat center center;}
.bcd_20{background:url('icons/bcd_20.png') no-repeat center center;}

.bcd_21{background:url('icons/bcd_21.png') no-repeat center center;}
.bcd_22{background:url('icons/bcd_22.png') no-repeat center center;}
.bcd_23{background:url('icons/bcd_23.png') no-repeat center center;}
.bcd_24{background:url('icons/bcd_24.png') no-repeat center center;}
.bcd_25{background:url('icons/bcd_25.png') no-repeat center center;}
.bcd_26{background:url('icons/bcd_26.png') no-repeat center center;}
.bcd_27{background:url('icons/bcd_27.png') no-repeat center center;}
.bcd_28{background:url('icons/bcd_28.png') no-repeat center center;}
.bcd_29{background:url('icons/bcd_29.png') no-repeat center center;}
.bcd_30{background:url('icons/bcd_30.png') no-repeat center center;}

.bcd_31{background:url('icons/bcd_31.png') no-repeat center center;}
.bcd_32{background:url('icons/bcd_32.png') no-repeat center center;}
.bcd_33{background:url('icons/bcd_33.png') no-repeat center center;}
.bcd_34{background:url('icons/bcd_34.png') no-repeat center center;}
.bcd_35{background:url('icons/bcd_35.png') no-repeat center center;}
.bcd_36{background:url('icons/bcd_36.png') no-repeat center center;}
.bcd_37{background:url('icons/bcd_37.png') no-repeat center center;}
.bcd_38{background:url('icons/bcd_38.png') no-repeat center center;}
.bcd_39{background:url('icons/bcd_39.png') no-repeat center center;}
.bcd_40{background:url('icons/bcd_40.png') no-repeat center center;}

.bcd_41{background:url('icons/bcd_41.png') no-repeat center center;}
.bcd_42{background:url('icons/bcd_42.png') no-repeat center center;}
.bcd_43{background:url('icons/bcd_43.png') no-repeat center center;}
.bcd_44{background:url('icons/bcd_44.png') no-repeat center center;}
.bcd_45{background:url('icons/bcd_45.png') no-repeat center center;}
.bcd_46{background:url('icons/bcd_46.png') no-repeat center center;}
.bcd_47{background:url('icons/bcd_47.png') no-repeat center center;}
.bcd_48{background:url('icons/bcd_48.png') no-repeat center center;}
.bcd_49{background:url('icons/bcd_49.png') no-repeat center center;}
.bcd_50{background:url('icons/bcd_50.png') no-repeat center center;}
